<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:annotation-config />

	<context:component-scan base-package="org.greyhawk.sms" />
	
	<!-- EndPoint -->
	<bean id="notifySmsReceptionEndPoint" class="org.greyhawk.sms.ws.NotifySmsReceptionEndPoint"/>	
	<bean id="notifySmsDeliveryReceiptEndPoint" class="org.greyhawk.sms.ws.NotifySmsDeliveryReceiptEndPoint"/>
	<bean id="sendSmsEndPoint" class="org.greyhawk.sms.ws.SendSmsEndPoint"/>
	<bean id="marshallingNotifySmsReceptionEndPoint" class="org.greyhawk.sms.ws.MarshallingNotifySmsReceptionEndPoint">
		<constructor-arg ref="jaxb2Marshaller"/>
		<constructor-arg ref="smsSendTemplate"/>
	</bean>
	<bean id="marshallingNotifySmsDeliveryReceptionEndPoint" class="org.greyhawk.sms.ws.MarshallingNotifySmsDeliveryReceptionEndPoint">
		<constructor-arg ref="jaxb2Marshaller"/>
	</bean>
	
	<bean id="messageNotifySmsReceptionEndPoint" class="org.greyhawk.sms.ws.MessageNotifySmsReceptionEndPoint">
		<constructor-arg ref="smsSendTemplate"/>
		<constructor-arg ref="messageFactory"/>
	</bean>
	
	<bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory"/>
	
	<bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="contextPath" value="org.greyhawk.sms.schema"/>
	</bean>
	
	<bean id="sendSmsFaultMessageResolver" class="org.greyhawk.sms.ws.client.SendSmsFaultMessageResolver"/>
	
	<bean id="webServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
		<constructor-arg ref="messageFactory"/>
		<property name="defaultUri" value="http://221.236.6.218:5080/isag/North/SMS/SendSms"/>
		<property name="marshaller" ref="jaxb2Marshaller"/>
		<property name="unmarshaller" ref="jaxb2Marshaller"/>
		<property name="faultMessageResolver" ref="sendSmsFaultMessageResolver"/>
	</bean>
	
	<bean id="smsSendTemplate" class="org.greyhawk.sms.ws.client.SmsSendTemplate">
		<constructor-arg ref="webServiceTemplate"/>
	</bean>
	
</beans>
